{{ define "main" }}
  <header>
    <h1>{{.Title}}</h1>
  {{.Content}}
  </header>
  <main>
    <div class="d-flex flex-row flex-wrap">
      {{ range .Pages }}
      <div class="d-flex flex-column post-preview col-sm-6 col-lg-3 m-4">
        {{ if .Params.image }}
        {{ $image := resources.Get .Params.image }}
        {{ $imageResized := $image.Fill "400x400 TopLeft" }}
        <div class="d-flex justify-content-center">
          <a href="{{ .Permalink }}">
            <img src="{{ $imageResized.Permalink }}" alt="{{ .Title }}" class="img-title img-fluid" />
          </a>
        </div>
        {{ end }}
        <div class="post-title text-center mb-auto">
          <a href="{{ .Permalink }}"
             class="link-dark text-decoration-none">
            {{ .Title }}
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </main>
{{ end }}
