{{ $copyright := default "2023" .Site.Params.copyright }}

<div class="container">
  <footer class="d-flex flex-wrap justify-content-center py-3 mb-4 border-top">
    <p class="w-100 text-center">
       <a class="link-dark text-decoration-none"
         href="/newsletter/">newsletter</a>
      &mdash;
      <a class="link-dark text-decoration-none"
         href="https://social.rhea.art/">mastodon</a>
      &mdash;
      <a class="link-dark text-decoration-none"
         href="https://twitter.com/rheaplex">twitter</a>
      &mdash;
      <a class="link-dark text-decoration-none"
         href="https://instagam.com/rheapl3x">instagram</a>
      &mdash;
      <a class="link-dark text-decoration-none"
         href="https://github.com/rheaplex">github</a>
    </p>
    <p class="w-100 text-center border-top pt-3">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a><br>
      {{ $copyright }}<br>
      Unless otherwise noted, original art and writing by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Rhea Myers</span> on this site is licensed under a<br><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      <br>
    </p>
  </footer>
</div>
