<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">{{ .Site.Title }}</span>
    </a>

    <ul class="nav nav-pills">
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link {{ if eq .Name .Title}}active{{end}}" href="{{ .URL | relURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </header>
</div>
